h1 {
    color:#000bf2;
    text-align: center;
    border: 5px dotted red;
}

h2 {
    color: #000bf2;
    text-align: center;
}

p {
    color:#000d82;
    text-align: left;
}

table {
    font-family: cursive, sans-serif;
    font-size: 28px;
    text-indent: 15%;
    font-weight: bold;
    border: 2px solid black;
    border-collapse: collapse;
}
th {
    text-align: center;
    border: 2px solid black;
    background-color: lightslategray;
    color:black;
}

tr, td {
    text-align: center;
    border: 1px solid black;
    width: 39%;
}


